* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
}
#index_navbar li {
  margin-right: 10px;
}
#index_navbar li a {
  color: white;
}
#index_navbar li a:hover,
li a:focus,
li a:active {
  color: rgb(192, 183, 183);
}
